<html style="box-sizing: border-box;font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;">
    <head style="box-sizing: border-box;">
        
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js" style="box-sizing: border-box;"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" style="box-sizing: border-box;"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" style="box-sizing: border-box;"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1" style="box-sizing: border-box;">
    </head>
    <body style="background-color: #f6f5e1;box-sizing: border-box;margin: 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,&quot;Helvetica Neue&quot;,Arial,&quot;Noto Sans&quot;,&quot;Liberation Sans&quot;,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;,&quot;Segoe UI Symbol&quot;,&quot;Noto Color Emoji&quot;;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;min-width: 992px!important;">
        <div class="container" style="box-sizing: border-box;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;min-width: 992px!important;">
            <h2 style="box-sizing: border-box;margin-top: 0;margin-bottom: 2pc;font-weight: 500;line-height: 1.2;font-size: 2rem;orphans: 3;widows: 3;page-break-after: avoid;text-align: center;">Welcome to Crisostomo Compound</h2>
            <div class="col-8 card " style="box-sizing: border-box;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;margin: 0 auto;float: none;margin-bottom: 10px;">
                <div class="card-body" style="box-sizing: border-box;-ms-flex: 1 1 auto;flex: 1 1 auto;min-height: 1px;padding: 1.25rem;">
                    <h5 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1.25rem;"><b style="box-sizing: border-box;font-weight: bolder;">Good Day {{first_name}} {{last_name}}.</b></h5>
                    <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">This email was used to make an account for Crisostomo Compound's Apartment Management System. 
                        We will send updates like recent payments, new bills, and overdue bills to this email address.</p>
                    <br style="box-sizing: border-box;">
                    
                    <legend style="box-sizing: border-box;display: block;width: 100%;max-width: 100%;padding: 0;margin-bottom: .5rem;font-size: 1.5rem;line-height: inherit;color: inherit;white-space: normal;"><b style="box-sizing: border-box;font-weight: bolder;">LOGIN INFORMATION:</b></legend>
                    <table class="table" style="box-sizing: border-box;border-collapse: collapse!important;width: 100%;margin-bottom: 1rem;color: #212529;">
                        <tbody style="box-sizing: border-box;">
                            <tr style="box-sizing: border-box;page-break-inside: avoid;">
                                <td style="box-sizing: border-box;padding: .75rem;vertical-align: top;border-top: 1px solid #dee2e6;background-color: #fff!important;"><b style="box-sizing: border-box;font-weight: bolder;">Username: </b></td>
                                <td style="box-sizing: border-box;padding: .75rem;vertical-align: top;border-top: 1px solid #dee2e6;background-color: #fff!important;">{{username}}</td>
                            </tr>
                            <tr style="box-sizing: border-box;page-break-inside: avoid;">
                                <td style="box-sizing: border-box;padding: .75rem;vertical-align: top;border-top: 1px solid #dee2e6;background-color: #fff!important;"><b style="box-sizing: border-box;font-weight: bolder;">Password: </b></td>
                                <td style="box-sizing: border-box;padding: .75rem;vertical-align: top;border-top: 1px solid #dee2e6;background-color: #fff!important;">{{password1}}</td>
                            </tr>
            
                        </tbody>
                    </table>
                    <br style="box-sizing: border-box;">
                    <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">To access the website, please click the button below and login.</p>
                    <div class="text-center" style="box-sizing: border-box;text-align: center!important;">
                        <form action="http://127.0.0.1:8000/Logbook/tenant" style="box-sizing: border-box;">
                            <input class="btn btn-success" type="submit" value="WELCOME" style="box-sizing: border-box;margin: 0;font-family: inherit;font-size: 1rem;line-height: 1.5;overflow: visible;-webkit-appearance: button;display: inline-block;font-weight: 400;color: #fff;text-align: center;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: #28a745;border: 1px solid transparent;padding: .375rem .75rem;border-radius: .25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-color: #28a745;">
                        </form>
                    </div>
                    <br style="box-sizing: border-box;">
                    <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">Thanks,</p>
                    <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">-Landlord</p>
                </div>
            </div>
        </div>
    </body>
</html>